<body>
    <div class="site-wrap">
        <nav class="site-nav">
            <div class="name">Patient information</div>

            <ul id="sidebar">
                <li>
                    <div class="nav_icon">
                        <i class="fa-solid fa-user-doctor"></i>
                        <a href="#">Patient information</a>
                    </div>
                    <div class="nav_icon">
                        <i class="fa-brands fa-wpforms"></i>
                        <a href="/doctor/patientlist">In charge form</a>
                    </div>
                    <div class="nav_icon">
                        <i class="fa-solid fa-list"></i>
                        <a href="/doctor/getAllAppointments">Appointment list</a>
                    </div>
                </ul>
            </li>

        </ul>

        <div class="note">
            <h3>PDM Project</h3>
            <p>Hospital Data Management</p>
        </div>
    </nav>

    <main>
        <header>
            <h1 id="title"> Update patient status
            </h1>
        </header>

        <form id="status" method="POST" action="/doctor/updateInchargeForm/{{patient.pId}}?_method=PUT">

                <input value="{{patient.startDay}}" type="text" tabindex="1" name="startDay"
                    required autofocus>

                <input value="{{patient.pId}}" type="text" tabindex="1" name="pId"
                    required autofocus>

                <input value="{{patient.dId}}" type="text" tabindex="1" name="dId"
                    required autofocus>

                <input value="{{patient.pName}}" type="text" tabindex="1" name="pName"
                    required autofocus>

                <input value="{{patient.details}}" type="text" tabindex="1" name="details"
                    required autofocus>

                <button name="submit" type="submit" id="contact-submit"
                    data-submit="...Sending"> Submit </button>
        </form>



        </div>
    </main>

</div>

<script>
            const navTabs = document.querySelectorAll("#nav-tabs > a");
            navTabs.forEach((tab) => {
                tab.addEventListener("click", () => {
                    navTabs.forEach((tab) => {
                        tab.classList.remove("active");
                    });
                    tab.classList.add("active");
                });
            });

            function submitPatch() {
  const formData = new FormData(document.getElementById('status'));
  fetch('/doctor/updateInchargeForm/{{patient.id}}', {
    method: 'PATCH',
    body: formData,
  })
  .then(() => {
    // Handle successful update
  })
  .catch(error => {
    // Handle errors
  });
}


        </script>
