<body>
  <div class="site-wrap">
    <nav class="site-nav">
      <div class="name">Patient Information</div>

      <ul id="sidebar">
        <li>
          <div class="nav_icon">
                        <i class="fa-solid fa-user"></i>
                        <a href="/patient/patientDetails">Patient Information</a>
                    </div>
                    <div class="nav_icon">
                        <i class="fa-solid fa-list"></i>
                        <a href="/patient/newAppointment">New Appointment</a>
                    </div>
                    <div class="nav_icon">
                        <i class="fa-solid fa-calendar-check"></i>
                        <a href="/patient/appointments">Scheduled Appointment</a>
                    </div>
      </ul>
      </li>
      </ul>

      <div class="note">
        <h3>PDM Project</h3>
        <p>Hospital Data Management</p>
      </div>
    </nav>

    <main>
      <header>
        <h1 id="title"> Patient Information
        </h1>
      </header>
      <div class="patient_information_field">

        <div class="col">
          <i class="fa-solid fa-circle-user"></i>
          Patient Name
        </div>
        <div class="col">
          <i class="fa-solid fa-envelope"></i>
          Email
        </div>
        <div class="col">
          <i class="fa-solid fa-map-location"></i>
          Address
        </div>
        <div class="col">
          <i class="fa-solid fa-phone"></i>
          Phone Number
        </div>

      </div>

      <div class="patient_information">
        <div class="col">
          {{patients.name}}
        </div>
        <div class="col">
          {{patients.email}}
        </div>
        <div class="col">
          {{patients.address}}
        </div>
        <div class="col">
          {{patients.phoneNumber}}
        </div>

      </div>
    </main>


    <div class="editDetailBtn">
      <i class="fa-solid fa-pen"></i>
      <a href="/patient/patientEdit/{{patient.pId}}">Edit Details</a>
    </div>

  </div>

  <script>
    const navTabs = document.querySelectorAll("#nav-tabs > a");
    navTabs.forEach((tab) => {
      tab.addEventListener("click", () => {
        navTabs.forEach((tab) => {
          tab.classList.remove("active");
        });
        tab.classList.add("active");
      });
    });


  </script>
