<body>
    <div class="site-wrap">
        <nav class="site-nav">
            <div class="name">Patient Information</div>

            <ul id="sidebar">
                <li>
                    <div class="nav_icon">
                        <i class="fa-solid fa-user"></i>
                        <a href="/patient/patientDetails">Patient Information</a>
                    </div>
                    <div class="nav_icon">
                        <i class="fa-solid fa-list"></i>
                        <a href="/patient/newAppointment">New Appointment</a>
                    </div>
                    <div class="nav_icon">
                        <i class="fa-solid fa-calendar-check"></i>
                        <a href="/patient/appointments">Scheduled Appointment</a>
                    </div>
                    <div class="nav_icon">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Logout</button>
                    </div>
                </li>
            </ul>





            <div class="note">
                <h3>PDM Project</h3>
                <p>Hospital Data Management</p>
            </div>
        </nav>

        <main>
            <header>
                <h1 id="title"> Edit Personal Information
                </h1>
            </header>
            <div class="form-edit-patient-info">
                <form method="post" action="/patient/updateInfo/{{user.pId}}?_method=PUT">

                    <div class="update-patient-info">
                        <div class="input-field">
                            <i class="fa-solid fa-user"></i>
                            <input type="text"  name="name" value="{{user.name}}" />
                        </div>
                        <div class="input-field">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="email"  name="email" value="{{user.email}}" />
                        </div>
                        <div class="input-field">
                            <i class="fa-solid fa-phone"></i>
                            <input type="text"  name="phoneNumber" value="{{user.phoneNumber}}" />
                        </div>

                        <div class="input-field">
                            <i class="fa-solid fa-map-location-dot"></i>
                            <input type="text"  name="address" value="{{user.address}}"/>
                        </div>
                    </div>

                        <div >

                            <button class="editBtn" type = "submit">
                                <i class="fa-solid fa-pen"></i>
                                Edit</button>
                </div>

                </form>
            </div>
    </main>

    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Log Out ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want to log out ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="logoutBTN">Log out</button>
                </div>
            </div>
        </div>
    </div>

    <form id="logoutForm" method="post" action="/authentication/logout"></form>

    <script>
        const navTabs = document.querySelectorAll("#nav-tabs > a");
        navTabs.forEach((tab) => {
            tab.addEventListener("click", () => {
                navTabs.forEach((tab) => {
                    tab.classList.remove("active");
                });
                tab.classList.add("active");
            });
        });

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    // Wait for the DOM to be ready
    document.addEventListener("DOMContentLoaded", function () {
        // Get the pId from the cookie
        const pId = getCookie("pId");

        // Check if pId is available
        if (pId) {
            // Update the form action with the pId
            const form = document.querySelector(".form-edit-patient-info form");
            form.action = `/patient/updateInfo/${pId}`;
        }
    });



        let logoutForm= document.getElementById("logoutForm");
        let logoutBTN= document.getElementById("logoutBTN")
        console.log(logoutBTN);
        logoutBTN.onclick= function(){
            logoutForm.submit();
        }

    </script>
